body {
  background: #fcf4f4;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 200;
  color: #242424;
}

.no-webp header {
  background-image: url("../imgs/header-bg.jpg") !important;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/header-bg.webp");
  background-size: cover;
}

header .pink-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2f030c61;
}

header .logo {
  width: 685px;
  -webkit-filter: drop-shadow(0 0 40px #FFF) drop-shadow(0 0 40px #FFF8);
          filter: drop-shadow(0 0 40px #FFF) drop-shadow(0 0 40px #FFF8);
}

header p {
  font-family: source-han-serif-japanese, serif;
  font-weight: 600;
  font-size: 35px;
  color: #fff;
  z-index: 100;
}

main {
  width: 1100px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main section {
  margin-bottom: 200px;
}

main h1 {
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

main h1::before {
  content: attr(data-subtitle);
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  font-size: 30px;
  font-weight: 200;
  color: #e35471;
}

main .card {
  -webkit-box-shadow: 0 0 6px #00000029;
          box-shadow: 0 0 6px #00000029;
  background: #fff;
}

main .btn {
  position: relative;
  display: block;
  margin-top: 37px;
  padding: 18px;
  padding-right: 96px;
  border-radius: 39px;
  -webkit-box-shadow: 0 0 10px #0000004A;
          box-shadow: 0 0 10px #0000004A;
  background: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #242424;
  overflow: hidden;
  -webkit-transition: letter-spacing .3s, -webkit-box-shadow .2s;
  transition: letter-spacing .3s, -webkit-box-shadow .2s;
  transition: letter-spacing .3s, box-shadow .2s;
  transition: letter-spacing .3s, box-shadow .2s, -webkit-box-shadow .2s;
  cursor: pointer;
}

main .btn .btn-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 116px;
  height: 100%;
  margin: auto;
  -webkit-clip-path: polygon(35px 0%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(35px 0%, 100% 0, 100% 100%, 0% 100%);
}

main .btn .btn-icon.btn-icon-blue {
  background: #2D4B5D;
}

main .btn .btn-icon.btn-icon-pink {
  background: #e35471;
}

main .btn .btn-icon::before, main .btn .btn-icon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

main .btn .btn-icon::before {
  width: 52px;
  height: 3px;
  right: 25px;
  background: #fff;
}

main .btn .btn-icon::after {
  width: 16px;
  height: 16px;
  right: 18px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

main .btn:hover {
  letter-spacing: 2px;
  -webkit-box-shadow: 0 0 20px #0007;
          box-shadow: 0 0 20px #0007;
}

#services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#services .service .card {
  border-radius: 40px;
}

#services .service .card.image-card {
  width: 525px;
  padding: 47px;
  border: 6px solid #e35471;
}

#services .service .card.image-card img {
  display: block;
  height: 230px;
  margin: 0 auto;
}

#services .service .card.content-card {
  position: relative;
  width: 670px;
  padding: 47px 66px;
  background: #e35471;
  color: #fff;
}

#services .service .card.content-card h2 {
  line-height: 1.4;
  margin-bottom: 22px;
  font-size: 32px;
  font-weight: 500;
}

#services .service .card.content-card h2.h2-with-subtitle {
  font-size: 43px;
  line-height: 1;
  margin-bottom: 27px;
}

#services .service .card.content-card h2.h2-with-subtitle img {
  margin-top: -6px;
  float: left;
  width: 71px;
  height: 71px;
  border-radius: 14px;
  margin-right: 25px;
}

#services .service .card.content-card h2.h2-with-subtitle span {
  display: block;
  font-size: 18px;
  font-weight: 200;
  color: #fffd;
}

#services .service .card.content-card .card-number {
  position: absolute;
  vertical-align: middle;
  top: 41px;
  font-size: 37px;
}

#services .service .card.content-card .card-number::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 123px;
  height: 2px;
  background: #fff;
}

#services .service .card.content-card .description {
  font-size: 20px;
  line-height: 1.4;
}

#services .service:nth-of-type(odd) .card.content-card {
  top: -40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#services .service:nth-of-type(odd) .card.content-card h2, #services .service:nth-of-type(odd) .card.content-card p.description {
  margin-left: 55px;
}

#services .service:nth-of-type(odd) .card.content-card .card-number {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 24px;
}

#services .service:nth-of-type(odd) .card.content-card .card-number::after {
  left: -140px;
}

#services .service:nth-of-type(even) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#services .service:nth-of-type(even) .card.image-card {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#services .service:nth-of-type(even) .card.content-card {
  bottom: -40px;
}

#services .service:nth-of-type(even) .card.content-card h2, #services .service:nth-of-type(even) .card.content-card p.description {
  margin-right: 55px;
}

#services .service:nth-of-type(even) .card.content-card .card-number {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 24px;
}

#services .service:nth-of-type(even) .card.content-card .card-number::after {
  right: -140px;
}

#mission .MVV-title,
#value .MVV-title,
#vision .MVV-title {
  font-size: 37px;
  font-family: source-han-serif-japanese, serif;
  font-weight: 200;
  text-align: center;
  color: #655959;
  margin: 60px 0 10px;
}

#mission .MVV-detail-container,
#value .MVV-detail-container,
#vision .MVV-detail-container {
  font-size: 20px;
  line-height: 2.5;
  text-align: center;
}

#mission .MVV-detail-container p,
#value .MVV-detail-container p,
#vision .MVV-detail-container p {
  padding: 25px 40px;
}

#mission .nowrap,
#value .nowrap,
#vision .nowrap {
  display: inline-block;
}

#founding-members .members-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#founding-members .members-container .member {
  position: relative;
  width: 335px;
  border-radius: 9px;
  text-align: center;
}

#founding-members .members-container .member img {
  width: 100%;
  height: 198px;
  border-radius: 9px 9px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#founding-members .members-container .member .introduction {
  position: absolute;
  top: 132px;
  right: -14px;
  width: 162px;
  padding: 17px;
  -webkit-box-shadow: 0 0 6px #00000029;
          box-shadow: 0 0 6px #00000029;
  font-size: 17px;
  background: #e35471;
  color: #fff;
}

#founding-members .members-container .member .introduction::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 64px;
  background: #D03C5A;
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  z-index: -1;
}

#founding-members .members-container .member .name {
  padding: 25px 0 10px;
  font-size: 28px;
  font-weight: 500;
}

#founding-members .members-container .member .name rt, #founding-members .members-container .member .name rp {
  position: relative;
  bottom: -5px;
  font-size: 12px;
  font-weight: 200;
}

#founding-members .members-container .member .position {
  padding-bottom: 30px;
  letter-spacing: 1.2px;
  font-weight: 500;
  font-size: 12px;
  color: #e35471;
}

#founding-members .members-container .member .message {
  padding: 35px;
  padding-top: 0;
  font-size: 15px;
  line-height: 2.4;
}

#company table {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

#company table tr {
  border: 5px solid #CBCBCB;
}

#company table tr th {
  padding: 27px 80px 27px 80px;
  font-size: 25px;
}

#company table tr td {
  font-size: 20px;
  line-height: 25px;
  padding: 27px 0;
}

#contact .contact-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 486px 1fr;
      grid-template-columns: 486px 1fr;
  -ms-grid-rows: 135px 136px;
      grid-template-rows: 135px 136px;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .contact-grid .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 9px;
}

#contact .contact-grid .card.contact-email {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

#contact .contact-grid .card.contact-phone .btn {
  display: none;
}

#contact .contact-grid .card.contact-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contact .contact-grid .card.contact-form .contact-title {
  margin-left: 20px;
}

#contact .contact-grid .card.contact-form .btn {
  width: 282px;
  margin: 0 !important;
}

#contact .contact-grid .card .contact-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 38px 60px;
  font-weight: 500;
}

#contact .contact-grid .card .contact-title h2 {
  position: relative;
  font-size: 28px;
}

#contact .contact-grid .card .contact-title h2::after {
  content: attr(data-subtitle);
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  font-size: 12px;
  color: #e35471;
}

#contact .contact-grid .card .contact-title span {
  font-size: 28px;
  color: #e35471;
}

#contact .contact-grid .card .contact-title .adress {
  font-size: 19px;
}

#contact .contact-grid .card .btn {
  width: 370px;
  margin: 0 auto 17px;
  font-size: 12px;
}

#contact .contact-grid .card .btn:last-of-type {
  margin-bottom: 38px;
}

#SNS .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#SNS .account .account-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 15px;
  width: 465px;
  border-radius: 9px;
}

#SNS .account .account-id img {
  width: 84px;
}

#SNS .account .account-id p {
  margin-top: 30px;
  font-size: 33px;
  font-weight: 500;
  color: #00C4FD;
}

#SNS .account a.twitter-timeline {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 76px calc((100vw - 1134px)/2);
  background: #242424;
}

footer .footer-logo img {
  width: 597px;
  -webkit-filter: drop-shadow(0 0 12px #FFF);
          filter: drop-shadow(0 0 12px #FFF);
}

footer .footer-logo h2 {
  font-family: source-han-serif-japanese, serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

footer nav {
  color: #fff;
}

footer nav h3 {
  padding: 33px 0 9px;
  font-size: 28px;
  font-weight: 500;
}

footer nav h3:first-of-type {
  padding-top: 0;
}

footer nav ul {
  list-style: circle;
  padding-left: 47px;
}

footer nav ul li {
  font-size: 20px;
  padding: 9px 0;
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */