@import "./font.scss";
@include font-face('SourceHanSansJp', '../fonts/SourceHanSansJP-ExtraLight.otf', 400, null, otf);
@include font-face('Honoka', '../fonts/font_1_honokamin.ttf', 400, null, ttf);

$pink: #e35471;
$black: #242424;


body {
  font-family: "SourceHanSansJp", sans-serif 
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/header-bg.png");
  background-size: cover;
  .pink-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2f030c61;
  }
  .logo {
    width: 685px;
    filter: drop-shadow(0 0 40px #FFF) drop-shadow(0 0 40px #FFF8);
  }
  p {
    font-family: "Honoka", serif;
    font-size: 35px;
    color: #fff;
    z-index: 100;
  }
}