$pink: #e35471;
$black: #242424;


$sm: 767px;
@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}
$md: 1200px;
@mixin md {
  @media screen and (max-width: ($md)) {
    @content;
  }
}
// $lg: 992px;
// $xl: 1200px;
// @mixin lg {
//   @media (max-width: ($lg)) {
//     @content;
//   }
// }
// @mixin xl {
//   @media (max-width: ($xl)) {
//     @content;
//   }
// }

body {
  background: #fcf4f4;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 200;
  color: $black;
}

.no-webp {
  header {background-image: url("../imgs/header-bg.jpg") !important}
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/header-bg.webp");
  background-size: cover;
  .pink-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2f030c61;
  }
  .logo {
    width: 685px;
    filter: drop-shadow(0 0 40px #FFF) drop-shadow(0 0 40px #FFF8);
    @include md {width: 494px;}
    @include sm {width: 296px;}
  }
  p {
    font-family: source-han-serif-japanese, serif;
    font-weight: 600;
    font-size: 35px;
    color: #fff;
    z-index: 100;
    @include md {font-size: 21px;}
    @include sm {font-size: 13px;}
  }
}

main {
  width: 1100px;
  margin: 0 auto;
  box-sizing: content-box;
  @include md {width: 664px;}
  @include sm {width: 310px;}

  section {
    margin-bottom: 200px;
  }

  h1 {
    position: relative;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    @include sm {margin-top: 90px; margin-bottom: 30px; font-size: 27px;}
    &::before {
      content: attr(data-subtitle);
      position: absolute;
      top: -35px;
      left: 0;
      right: 0;
      font-size: 30px;
      font-weight: 200;
      color: $pink;
      @include sm {top: -18px; font-size: 17px;}
    }
  }

  .card {
    box-shadow: 0 0 6px #00000029;
    background: #fff;
  }

  .btn {
    position: relative;
    display: block;
    margin-top: 37px;
    padding: 18px;
    padding-right: 96px;
    border-radius: 39px;
    box-shadow: 0 0 10px #0000004A;
    background: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: $black;
    overflow: hidden;
    transition: letter-spacing .3s, box-shadow .2s;
    cursor: pointer;
    @include md {font-size: 15px;}
    @include sm {
      padding-right: 68px;
      font-size: 12px;
    }
    .btn-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 116px;
      height: 100%;
      margin: auto;
      clip-path: polygon(35px 0%, 100% 0, 100% 100%, 0% 100%);
      @include sm {width: 80px;}
      
      &.btn-icon-blue { background: #2D4B5D; }
      &.btn-icon-pink { background: $pink; }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &::before {
        width: 52px;
        height: 3px;
        right: 25px;
        background: #fff;
        @include sm {width: 28px; height: 1px;}
      }

      &::after {
        width: 16px;
        height: 16px;
        right: 18px;
        border: 3px solid #fff;
        border-radius: 50%;
        background-color: transparent;
        @include sm {border-width: 1px;;}
      }
    }

    &:hover {
      letter-spacing: 2px;
      box-shadow: 0 0 20px #0007;
    }
  }

  .nowrap { display: inline-block; }
}

#services {
  .service {
    display: flex;
    flex-direction: column;
    .card {
      border-radius: 40px;
      @include sm {border-radius: 14px;}
      &.image-card {
        width: 525px;
        padding: 47px;
        border: 6px solid $pink;
        @include md {width: 444px;}
        @include sm {width: 205px; border-width: 3px; padding: 25px;}
        img {
          display: block;
          height: 230px;
          margin: 0 auto;
          @include md {height: 173px;}
          @include sm {height: 80px;}
        }
      }
      &.content-card {
        position: relative;
        width: 670px;
        padding: 47px 66px;
        background: $pink;
        color: #fff;
        @include md {width: 567px;}
        @include sm {
          width: 100%;
          padding: 43px 25px;
        }
        
        h2 {
          line-height: 1.4;
          margin-bottom: 22px;
          font-size: 32px;
          font-weight: 500;
          @include md {font-size: 22px;}
          @include sm {
            font-size: 20px;
            padding: 0 20px;
          }
          &.h2-with-subtitle {
            font-size: 43px;
            line-height: 1;
            margin-bottom: 27px;
            @include md {
              font-size: 36px;
              margin-bottom: 30px;
            }
            @include sm{font-size: 25px;}
            img {
              margin-top: -6px;
              float: left;
              width: 71px;
              height: 71px;
              border-radius: 14px;
              margin-right: 25px;
              @include md {
                width: 69px;
                height: 69px;
                margin-top: -12px;
              }
              @include sm {
                width: 39px;
                height: 39px;
                border-radius: 7px;
                margin-top: -3px;
                margin-right: 10px;
              }
            }
            span {
              display: block;
              font-size: 18px;
              font-weight: 200;
              color: #fffd;
              @include md {font-size: 15px;}
              @include sm {font-size: 10px;}
            }
          }
        }
        .card-number {
          position: absolute;
          vertical-align: middle;
          top: 41px;
          font-size: 37px;
          @include md {font-size: 25px;}
          @include sm {
            font-size: 16px;
            top: 15px;
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            display: block;
            width: 123px;
            height: 2px;
            background: #fff;;
            @include md {
              width: 86px;
              height: 1px;
            }
            @include sm {width: 62px;}
          }
        }
        .description {
          font-size: 20px;
          line-height: 1.4;
          @include md {font-size: 17px;}
          @include sm {
            font-size: 13px;
            padding: 0 20px;
          }
        }
      }
    }
    
    &:nth-of-type(odd) {
      .card.content-card { 
        top: -40px; 
        align-self: flex-end;
        @include sm {top: 0; margin-top: 5px;}
        h2, p.description {
          margin-left: 55px;
          @include md {margin-left: 10px;}
        }
        .card-number {
          transform: rotate(-90deg);
          left: 24px;
          @include sm {left: 10px;}
          &::after {
            left: -140px;
            @include md {left: -100px;}
            @include sm {left: -70px;}
          }
        }
      }
    }
    &:nth-of-type(even) {
      flex-direction: column-reverse;
      @include sm {flex-direction: column;}
      .card.image-card { align-self: flex-end; }
      .card.content-card { 
        bottom: -40px; 
        @include sm {bottom: 0; margin-top: 5px;}
        h2, p.description {
          margin-right: 55px;
          @include md {margin-right: 0;}
        }
        .card-number {
          transform: rotate(90deg);
          right: 24px;
          @include sm {right: 10px;}
          &::after {
            right: -140px;
            @include md {right: -100px;}
            @include sm {right: -70px;}
          }
        }
      }
    }
    @include sm {
      &:not(:last-child) {margin-bottom: 50px;}
    }
  }
}

#mission,
#value,
#vision {
  .MVV-title {
    font-size: 37px;
    font-family: source-han-serif-japanese, serif;
    font-weight: 200;
    line-height: 1.5;
    text-align: center;
    color: #655959;
    margin: 60px 0 10px;
    @include sm {font-size: 22px;}
  }
  // .MVV-detail-container {
  //   font-size: 20px;
  //   line-height: 2.5;
  //   text-align: center;
  //   p {
  //     padding: 25px 40px;
  //   }
  // }
}

#founding-members  {
  .members-container {
    display: flex;
    justify-content: space-around;
    @include md {
      flex-direction: column;
      align-items: center;
    }
    .member {
      position: relative;
      width: 335px;
      border-radius: 9px;
      text-align: center;
      @include md {
        width: 520px;
        margin: 20px 0;
      }
      img {
        width: 100%;
        height: 198px;
        border-radius: 9px 9px 0 0;
        object-fit: cover;
      }
      .introduction {
        position: absolute;
        top: 132px;
        right: -14px;
        width: 162px;
        padding: 17px;
        box-shadow: 0 0 6px #00000029;
        font-size: 17px;
        background: $pink;
        color: #fff;
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 25px;
          height: 64px;
          background: #D03C5A;
          clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
          z-index: -1;
        }
      }
      .name {
        padding: 25px 0 10px;
        font-size: 28px;
        font-weight: 500;
        rt, rp {
          position: relative;
          bottom: -5px;
          font-size: 12px;
          font-weight: 200;
        }
      }
      .position {
        padding-bottom: 30px;
        letter-spacing: 1.2px;
        font-weight: 500;
        font-size: 12px;
        color: $pink;
      }
      .message {
        padding: 35px;
        padding-top: 0;
        font-size: 15px;
        line-height: 2.4;
      }
    }
  }
}

#company {
  table {
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    @include md {width: 90%;}
    tr {
      border: 5px solid #CBCBCB;
      th {
        white-space: nowrap;
        padding: 27px 80px 27px 80px;
        font-size: 25px;
        @include md {padding-left: 37px; padding-right: 59px;}
      }
      td {
        font-size: 20px;
        line-height: 25px;
        padding: 27px 0;
      }
    }
  }
}

#contact {
  .contact-grid {
    display: grid;
    grid-template-columns: 486px 1fr;
    grid-template-rows: 135px 135px;
    gap: 15px;
    justify-content: center;
    @include md {
      grid-template-columns: 530px;
      grid-template-rows: 140px 140px 140px 235px;
    }
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 9px;
      &.contact-email { 
        padding: 0 10px;
        grid-row: 1/3; 
      }
      &.contact-phone {
        padding: 0 30px;
        .btn { display: none; }
      }
      &.contact-form {
        align-items: center; 
        flex-direction: row;
        @include md {
          flex-direction: column;
          align-items: inherit;
        }
        .contact-title {
          margin-left: 20px;
          @include md {margin-left: 60px;}
        }
        span, .adress {
          display: none;
          @include md {display: block;} 
        }
        .btn {
          width: 282px;
          margin: 0 !important;
          @include md {
            width: 400px;
            margin: 0 auto 44px!important;
          }
        }
      }

      .contact-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 38px 60px;
        font-weight: 500;

        h2 {
          position: relative;
          font-size: 28px;
          &::after {
            content: attr(data-subtitle);
            display: block;
            text-align: center;
            margin: auto;
            margin-top: 5px;
            font-size: 12px;
            color: $pink;
          }
        }
        span {
          font-size: 28px;
          color: $pink;
        }
        .adress {
          font-size: 19px;
        }
      }

      .btn {
        width: 370px;
        margin: 0 auto 17px;
        font-size: 12px;
        &:last-of-type { margin-bottom: 38px; }
      }
    }
  }
}

#SNS {
  .account {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @include md {flex-direction: column; width: 507px; margin: 0 auto;} 
    .account-id {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 1;
      width: 465px;
      margin-right: 15px;
      padding: 27px;
      border-radius: 9px;
      @include md {
        flex-direction: row;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
      img {
        width: 84px;
        @include md {width: 60px;}
      }
      p {
        margin-top: 30px;
        font-size: 33px;
        font-weight: 500;
        color: #00C4FD;
        @include md {margin: 0; margin-left: 10px; font-size: 26px;}
      }
    }
    a.twitter-timeline {
      flex-grow: 1;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 76px calc((100vw - 1134px)/2);
  background: $black;
  @include md {flex-direction: column;}
  .footer-logo {
    img {
      width: 597px;
      filter: drop-shadow(0 0 12px #FFF);
    }
    h2 {
      font-family: source-han-serif-japanese, serif;
      font-size: 20px;
      text-align: center;
      color: #fff;
    }
  }
  nav {
    color: #fff;
    margin-right: 52px;
    @include md {margin-top: 100px; margin-right: 0;}
    h3 {
      padding: 33px 0 9px;
      &:first-of-type{ padding-top: 0; }
      font-size: 22px;
      font-weight: 500;
    }
    ul {
      list-style: circle;
      padding-left: 47px;
      li {
        font-size: 16px;
        padding: 9px 0;
        text-decoration: underline;
      }
    }
  }
}